# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Flask Instance Data
instance/

# SQLite Database
*.db
*.sqlite
*.sqlite3

# IDE / Editor
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store